@import url(http://fonts.googleapis.com/css?family=Convergence);
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
html {
    background: url("http://s16.postimg.org/vi6na5f9x/my_bgs.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;

}
body {
  height: 100%;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: subpixel-antialiased;
  position: relative;
  font-family: 'Convergence', sans-serif;
}
.divs{
  height: 100%;
  width: 100%;
  overflow: hidden;
  /*-webkit-background-size: cover;*/
  /*-moz-background-size: cover;*/
  /*-o-background-size: cover;*/
  /*background-size: cover;*/
  color: #ffffff;

}
#intro{
  position: absolute;
  top: 40%;
  width: 100%;
}
#intro h1{
  margin: 0 auto;
  display: block;
  text-align: center;
  font-size: 4em;
}
#intro h2{
  display: block;
  text-align: center;
  font-size:2em;
}
#intro h3{
  margin: 0 auto;
  display: block;
  text-align: center;
  opacity: 0.6;
  margin-top: 2%;
}
#about{
  position: absolute;
  top: 105%;
  width: 100%
}
#about h1{
  margin: 0 auto;
  display: block;
  text-align: center;
  font-size: 4em;
  margin-top: 2%;
  height: 1.5em;
}
#about p{
  margin: 0 auto;
  display: block;
  text-align: center;
  font-size: 2em;
  margin-top: 2%;
}


#picture img{
  width: 200px;
  display: block;
  margin: 0 auto;
  border-radius: 50%;
  border:#fff 5px solid;
}


/*My work page*/

.div3 h1{
  text-align: center;
  font-size: 4em;
}

/*.allwork{
  width:70%;
  margin: 0 auto;
  margin-right: 11%;
  margin-top: 12%;
}

.allwork div img{
    margin-left: 20px;
    width: 13em;
    height:13em;
    border:solid white 4px;
    border-radius: 50%;
    float: left;
}*/

/*All work figures*/
.grid {
  font-family: 'Lato', Calibri, Arial, sans-serif;
  padding: 20px 20px 100px 20px;
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
  list-style: none;
  text-align: center;
}

.grid li {
  display: inline-block;
  width: 440px;
  margin: 0;
  padding: 20px;
  text-align: left;
  position: relative;
}

.grid figure {
  margin: 0;
  position: relative;
}

.grid figure img {
  max-width: 100%;
  display: block;
  position: relative;
}

.grid figcaption {
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px;
  background: rgba(138, 40, 40, 1);
  color: #ed4e6e;
}

.grid figcaption h3 {
  margin: 0;
  padding: 0;
  color: #fff;
}

.grid figcaption span:before {
  content: 'by ';
}

.grid figcaption a {
  text-align: center;
  padding: 5px 10px;
  border-radius: 2px;
  display: inline-block;
  background: #ed4e6e;
  color: #fff;
}

/*all work figure effect*/

.cs-style-3 figure {
  overflow: hidden;
}

.cs-style-3 figure img {
  -webkit-transition: -webkit-transform 0.4s;
  -moz-transition: -moz-transform 0.4s;
  transition: transform 0.4s;
}

.no-touch .cs-style-3 figure:hover img,
.cs-style-3 figure.cs-hover img {
/*  -webkit-transform: translateY(-50px);
  -moz-transform: translateY(-50px);
  -ms-transform: translateY(-50px);
  transform: translateY(-50px);*/
}

.cs-style-3 figcaption {
  height: 50px;
  width: 100%;
  top: auto;
  bottom: 0;
  opacity: 0;
  -webkit-transform: translateY(100%);
  -moz-transform: translateY(100%);
  -ms-transform: translateY(100%);
  transform: translateY(100%);
  -webkit-transition: -webkit-transform 0.4s, opacity 0.1s 0.3s;
  -moz-transition: -moz-transform 0.4s, opacity 0.1s 0.3s;
  transition: transform 0.4s, opacity 0.1s 0.3s;
}

.no-touch .cs-style-3 figure:hover figcaption,
.cs-style-3 figure.cs-hover figcaption {
  opacity: 1;
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  transform: translateY(0px);
  -webkit-transition: -webkit-transform 0.4s, opacity 0.1s;
  -moz-transition: -moz-transform 0.4s, opacity 0.1s;
  transition: transform 0.4s, opacity 0.1s;
}

.cs-style-3 figcaption a {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

@media screen and (max-height:920px){
  .grid li{
    padding: 10px;
    margin-left:
  }
  .grid img {
    height:250px;
  }
  .cs-style-3 figcaption{
    width: 301px;
  }
}

@media screen and (max-width: 1050px) {
  .grid {
    padding: 10px 10px 100px 10px;
  }
  .grid li {
    padding: 2px;
    width: 20%;
    min-width: 300px;
  }
}

@media screen and (max-width: 730px){
  .grid {
    padding: 2px 2px 10px 2px;
  }
  .grid li{
    display: block;
    margin: 0 auto;
  }
  .grid img{
    height: 100px;
    width: 100%;
  }
  .cs-style-3 figcaption {
    display: none;
  }
}

@media screen and (max-width: 601px){
  .grid li {
    width: 100%;
    display: block;
    position: relative;
    right: 90%;
  }
}

/*@media only screen and (min-device-width: 320px){
  .grid li{
    width: 100%;
  }

  .grid img{
    width: 200px;
  }
}*/

/*skill page styling*/

.meter {
  height: 60px;
  width: 100%;
  max-width: 960px;
  position: relative;
  background: #555;
  margin:10px auto;
}

#allskills{
  margin-top: 8%;
}

.meter span h2{
  position: relative;
  top: -3px;
  text-align: center;
}


.meter #htmlskill {
  width: 80%;
}
.meter #cssskill {
  width: 60%;
}
.meter #javascriptskill, #gitskill {
  width: 40%;
}
.meter #phpskill{
  width: 50%;
}
.meter #pythonskill{
  width: 15%;
}

.meter > span {
  display: block;
  height: 100%;
  background-color: rgb(43,194,83);
  position: relative;
  overflow: hidden;
}

@media(max-width:960px){
  .meter span h2{
    top:10%;
    font-size: 18px;
  }
}


/*contact page styling*/

.div4 h1{
  text-align: center;
  font-size: 4em;
}

.div5 h1{
  text-align: center;
  font-size: 4em;
}

#conForm input, textarea{
  border-radius: 20px;
  border:none;
}

#conForm input{
  display: block;
  text-align: center;
  height: 2em;
  width: 300px;
  font-size: 24px;
  margin:0 auto;
}
#submit{
  position: relative;
  top:50px;
}
#conForm p{
  font-size: 2em;
}

#conForm{
  display: block;
  text-align: center;
  margin-top: 100px;
}

textarea{
  height: 5em;
  width:20em;
  padding: 10px;
  font-weight: bold;
}

@media (max-width: 600px){
  #intro{
    margin-top: -50px;
  }
  #intro h1{
    font-size: 3em;
  }
  #about h1{
    font-size: 3em;
  }
  #about p{
    font-size: 1.5em;
  }
  #picture img{
    width:150px;
  }
  .grid{
    width: 100px;
  }
}

@media (max-height: 800px), (max-width: 700px){
  .div4 h1{
    font-size: 3em;
  }
  #conForm{
    margin-top: 0px;
  }
  #conForm input{
    height: 1.5em;
    width: 10em;
    font-size: 18px;
  }
  #conForm p{
    font-size: 1.5em;
  }
  textarea{
    height: 3em;
    width: 15em;
    font-weight: bold;
  }
}



.div1{
  background: #BD3737 center center fixed;
}
.div2{
  background: #8A2828 center center fixed;
}
.div3{
  background: #C87676 center center fixed;
}
.div4{
  background: #852727 center center fixed;
}
a{
  color:#ffffff;
  font-size:25px;
}
/**********************/
/*
 IE Solution.
 Ya! IE can do Cover Background
*/
/**********************/
html{
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='.http://s16.postimg.org/vi6na5f9x/my_bgs.jpg', sizingMethod='scale');
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://s16.postimg.org/vi6na5f9x/my_bgs.jpg', sizingMethod='scale')";
}
.div1{
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='.http://s1.postimg.org/58nbac9gv/background.jpg', sizingMethod='scale');
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://s1.postimg.org/58nbac9gv/background.jpg', sizingMethod='scale')";
}
.div2{
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='.http://s14.postimg.org/ictzn8lyp/image.jpg', sizingMethod='scale');
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='img/blurredline.jpg', sizingMethod='scale')";
}
.div3{
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='.http://s14.postimg.org/qtthy5qnl/image.jpg', sizingMethod='scale');
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://s14.postimg.org/qtthy5qnl/image.jpg', sizingMethod='scale')";
}

}